.answer-blocks {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 70px 170px;
}

.answer-block-left {
    justify-content: flex-start;
    flex: 2;
    margin-right: 30px;
}

#your-question {
    font-size: 20px;
    align-self: flex-start;
    color: #717171;
}

#your-answer {
    font-size: 16px;
    line-height: 1.5;
    align-self: flex-start;
    color: #717171;
}

.answer-block-right {
    justify-content: flex-end;
    flex: 1;
}

