.navbar {
    background: #224058;
    height: 400px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    padding: 20px 80px;
}

.odgo-home:hover,
.fa-user-circle:hover {
    color: gray;
    font-weight: 800;
    transition: .5s all ease;
}

.odgo-home,
.odgo-login {
    margin-left: 70px;
    text-decoration: none;
    color: white;
}

.fa-user-circle {
    color: white;
    font-size: 26px;
}

