.question-container {
    margin: 30px 12%;
    color: #8b8b8b;
    font-size: 18px;
    font-weight: 800;
    border-bottom: solid 1px #8b8b8b;
}

.question-container>p {
    margin-bottom: 0;
    margin-left: 5%;
}

.faq-box {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.faq-items {
    background: #f2f2f2;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 5px;
    width: 75%;
}

.inside-items {
    padding: 20px;
}

.inside-items>p {
    margin: 0;
    color: #8b8b8b;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
}



