.question-container {
    margin: 50px 12%;
    color: #8b8b8b;
    font-size: 18px;
    /* font-weight: 800; */
    border-bottom: solid 1px #8b8b8b;
}

.question-container>p {
    margin-bottom: 0;
    margin-left: 5%;
}

.faq-box {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
}

.faq-items {
    background: #f2f2f2;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 10px;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    cursor: pointer;
}

#documentacao-questions,
#moradia-questions,
#saude-questions,
#oportunidades-questions,
#primeirospassos-questions {
    background: #f2f2f2;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: -7px 10px 10px 10px;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-start;
}

#documentacao-questions li,
#moradia-questions li,
#saude-questions li,
#oportunidades-questions li,
#primeirospassos-questions li {
    list-style-type: none;
    border-bottom: solid 1px #fff;
    line-height: 1.5;
    width: 100%;
    padding: 10px 20px;
}

#documentacao-questions li a,
#moradia-questions li a,
#saude-questions li a,
#oportunidades-questions li a,
#primeirospassos-questions li a {
    text-decoration: none;
    color: #8b8b8b;
    font-weight: 400;
    font-size: 13px;
}

.arrow-dropdown {
    padding: 25px;
    color: #2B2B2B;
}

.inside-items {
    padding: 20px;
    display: flex;
}

.inside-items>p {
    margin: 0;
    padding: 7px 0 0 20px;
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 600;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

.box-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
}



